@font-face {
    font-family: 'Circular Std Book';
    src: local('Circular Std Book'), local('CircularStd-Book'),
        url('CircularStd-Book.woff2') format('woff2'),
        url('CircularStd-Book.woff') format('woff'),
        url('CircularStd-Book.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

